<a id="toTop"><i class="fas fa-angle-double-up"></i></a>
<footer>
    <div class="left-side">
        <p>"Альп-Пром"</p>
        <div class="address">
            <i class="fas fa-map-marker-alt"></i>
            <p>Россия, Кемеровская область, Кемерово,
                пр-т Ленина, д. 152, корпус Б</p>
        </div>
    </div>
    <div class="right-side">
        <i class="fab fa-whatsapp"></i>
        <p>+7 (923) 506 98-05</p>

        <i class="fab fa-viber"></i>
        <p>+7 (913) 123 67-73</p>

        <i class="fas fa-envelope"></i>
        <p>alpprom-kemerovo@mail.ru</p>

        <i class="fas fa-envelope"></i>
        <p>alpprom-kemerovo@yandex.ru</p>
    </div>
</footer>
</body>
    <script type="text/javascript">
        var cont = document.getElementById("map");
        ymaps.ready(function () {
            var map = new ymaps.Map('map', {
                center: [55.355515, 86.174300],
                zoom: 17, 
                controls: []
            });
            function fitMapToViewport () {
                map.container.fitToViewport(true);
            }
        });
    </script>
<script src="js/main.min.js"></script>
</html>