<a id="toTop"><i class="fas fa-angle-double-up"></i></a>
<footer>
    <div class="left-side">
        <p>"Альп-Пром"</p>
        <div class="address">
            <i class="fas fa-map-marker-alt"></i>
            <p>Россия, Кемеровская область, Кемерово,
                пр-т Ленина, д. 152, корпус Б</p>
        </div>
    </div>
    <div class="right-side">
        <i class="fab fa-whatsapp"></i>
        <p>+7 (923) 506 98-05</p>

        <i class="fab fa-viber"></i>
        <p>+7 (913) 123 67-73</p>

        <i class="fas fa-envelope"></i>
        <p>alpprom-kemerovo@mail.ru</p>

        <i class="fas fa-envelope"></i>
        <p>alpprom-kemerovo@yandex.ru</p>
    </div>
</footer>
</body>
<script src="https://kit.fontawesome.com/fc9111f4d7.js" crossorigin="anonymous"></script>
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="js/main.min.js"></script>
</html>