<a id="toTop"><i class="fas fa-angle-double-up"></i></a>
<footer>
    <div class="left-side">
        <p>"Альп-Пром"</p>
        <div class="address">
            <i class="fas fa-map-marker-alt"></i>
            <p>Россия, Кемеровская область, Кемерово,
                пр-т Ленина, д. 152, корпус Б</p>
        </div>
    </div>
    <div class="right-side">
        <i class="fab fa-whatsapp"></i>
        <p>+7 (923) 506 98-05</p>

        <i class="fab fa-viber"></i>
        <p>+7 (913) 123 67-73</p>

        <i class="fas fa-envelope"></i>
        <p>alpprom-kemerovo@mail.ru</p>

        <i class="fas fa-envelope"></i>
        <p>alpprom-kemerovo@yandex.ru</p>
    </div>
</footer>
</body>
<script src="https://kit.fontawesome.com/fc9111f4d7.js" crossorigin="anonymous"></script>
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="js/main.min.js"></script>
<script>
    setTimeout(function(){
	var elem = document.createElement('script');
	elem.type = 'text/javascript';
	elem.src = '//api-maps.yandex.ru/2.1/?apikey=a3fee15f-5bce-4f32-8f3e-be2e45d5d332&load=package.standard&lang=ru_RU&onload=getYaMap';
	document.getElementsByTagName('body')[0].appendChild(elem);
}, 2000);

var cont = document.getElementById("map");
function getYaMap(){
ymaps.ready(function() {
    var map = new ymaps.Map('map', {
        center: [55.355515, 86.173300],
        zoom: 17, 
        controls: []
    }),
    MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
        '<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
    ),

    myPlacemark = new ymaps.Placemark([55.355424, 86.174204], {
        hintContent: 'пр-т Ленина, д. 152, корпус Б',
        balloonContent: 'пр-т Ленина, д. 152, корпус Б'
    }, {
        iconLayout: 'default#image',
        iconImageHref: '../img/map-icon.webp',
        iconImageSize: [32, 32],
        // Смещение левого верхнего угла иконки относительно
        // её "ножки" (точки привязки).
        iconImageOffset: [0, -40]
    });
    map.geoObjects
        .add(myPlacemark)
    function fitMapToViewport () {
        map.container.fitToViewport(true);
    }
});}
</script>
</html>