@import "fonts"
@import "slick"
@import "slick-theme"
$dark: #283949
$yellow: #FFA300

@function adpt($before, $after, $before_width, $after_width)
    $m : ($before - $after) / ($before_width - $after_width)
    $b : ($after - $m * $after_width)
    $result_vw : $m * 100vw
    $result_px : $b+px
    $result : $result_vw + $result_px
    @return calc(#{$result_vw} + #{$result_px})


h1
    font-family: ProximaNova
    font-size: 64px
    font-weight: normal
    color: $dark
h2
    font-family: ProximaNova
    font-size: 48px
    font-weight: normal
    color: $dark
p
    font-family: Roboto
    font-size: 24px
a
    color: inherit
    text-decoration: none
li
    list-style-type: none

* 
    margin: 0
    padding: 0

@keyframes fadeInRight 
    0% 
        opacity: 1
        transform: translate(50%, 0)
    100% 
        opacity: 1
        transform: translate(0, 0)

    
header
    background-image: url(../img/bg.png)
    background-repeat: no-repeat
    background-size: cover
    background-position: 0 20%
    position: relative
    .head
        display: flex
        justify-content: space-between
        align-items: center
        padding: 10px 50px 10px 0
        margin: 0 auto
        z-index: 1
        img
            width: 350px
        .contacts
            div
                display: flex
                align-items: center
                &:nth-child(2)
                    margin-top: 10px
                p
                    font-family: ProximaNova
                    font-size: 16px
                i
                    font-size: 20px
                    margin: 0 10px 0 20px
.ham 
    cursor: pointer
    -webkit-tap-highlight-color: transparent
    transition: transform 400ms
    user-select: none
    position: fixed
    right: 10px
    z-index: 5
    display: none
    .top
        stroke-dasharray: 40 160
    .middle
        stroke-dasharray: 40 142
        transform-origin: 50%
        transition: transform 400ms
    .bottom
        stroke-dasharray: 40 85
        transform-origin: 50%
        transition: transform 400ms, stroke-dashoffset 400ms
    &.active
        .top
            stroke-dashoffset: -64px
        .middle
            transform: rotate(90deg)
        .bottom
            stroke-dashoffset: -64px
.hamRotate
    &.active 
        transform: rotate(45deg)
.line 
    fill: none
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms
    stroke: $dark
    stroke-width: 5.5
    stroke-linecap: round
.overlay 
    position: fixed
    background: #ffffff
    top: 0
    right: 0
    width: 50%
    height: 100%
    opacity: .8
    transform-origin: right 
    transform: translate(100%, 0)
    visibility: hidden
    transition: all 0.3s ease-in-out
    overflow: hidden
    z-index: 4
    .overlayBorder
        width: 100%
        height: 3px
        background-color: #000
    li
        display: flex
        justify-content: flex-end
        align-items: center
        font-family: ProximaNova
        font-size: adpt(26, 12, 767, 320)
        color: #000
        opacity: 0 
        padding: 10px 0
        padding-right: adpt(30, 15, 767, 320)
        i
            font-size: 30px
            margin-left: 4px

                
    &.open 
        opacity: 0.99
        visibility: visible
        transform: scale(1)
        li
            animation: fadeInRight 0.2s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards
            animation-delay: 0.4s
            transform: rotate(-7deg)
            transform-origin: right bottom 
            &:nth-of-type(1)
                 margin-top: 0
            &:nth-of-type(2) 
                animation-delay: 0.5s
            &:nth-of-type(3) 
                animation-delay: 0.6s
            &:nth-of-type(4) 
                animation-delay: 0.7s
            &:nth-of-type(5) 
                animation-delay: 0.8s
    ul
        text-align: right
        padding: 60px 0
.locked 
    overflow: hidden
.darken
    background-color: rgba(0, 0, 0, 0.8)
    width: 100%
    height: 500%
    position: absolute
    z-index: 3
    

nav
    background-color: $dark
    position: absolute
    top: 81.6px
    width: 100%
    z-index: 10
    ul
        max-width: 1440px
        margin: 0 auto
        display: flex
        justify-content: center
        padding: 10px 0
        li
            color: #ffffff
            text-transform: uppercase
            font-family: ProximaNova
            font-weight: 600
            font-size: 20px
            margin-right: 80px
            transition: color .3s ease
            line-height: 29px
            &:nth-last-child(1)
                margin-right: 0
            &:hover
                color: $yellow
                transition: color .3s ease
            &.active
                color: $yellow
.slickPrev,
.slickNext
    position: absolute
    display: block
    top: 50%
    transform: translate(0, -50%)
    z-index: 1
    font-size: adpt(150, 50, 1440, 320)
    color: #ffffff
    opacity: .6
    cursor: pointer
    transition: opacity .2s ease
    &:hover
        opacity: 1
        transition: opacity .2s ease
.slickNext
    right: adpt(40, 0, 1440, 320)
.slickPrev
    left: adpt(20, 0, 1440, 320)
.carousel
    padding-top: 49px
    overflow-x: hidden
    .carousel-item
        height: calc(100vh - 180px)
        min-height: 640px
        max-height: 730px
        background-repeat: no-repeat
        background-size: cover
        outline: none
        position: relative
        .item_disc
            font-family: Roboto
            font-weight: 500
            color: #ffffff
            position: absolute
            width: 547px
            top: 10%
            .title
                font-size: 72px
                line-height: 87px
            p
                font-size: 26px
                line-height: 42px
                margin: 20px 0 40px
            .button
                font-size: 24px
                color: #000
                background-color: $yellow
                padding: 14px 40px
                border-radius: 9px
        &.item__1
            background-image: url('../img/c-item1.png')
            .item_disc
                right: 10%
        &.item__2
            background-image: url('../img/c-item2.png')
            .item_disc
                left: 12%
        &.item__3
            background-image: url('../img/c-item3.png')
            .item_disc
                left: 12%

main 
    background-color: $dark
    padding: 83px 0
    .main_disc
        background-color: #fff
        max-width: 733px
        width: 50%
        margin: 0 auto
        box-sizing: border-box
        padding: 95px 90px
        p
            line-height: 28px
            &:nth-of-type(2)
                margin-top: 20px
.underline
    margin: 0 auto
    display: block
    height: 2px
    background-color: $dark
    width: 200px
    margin-top: 10px
.content
    max-width: 1440px
    margin: 0 auto
    padding-top: 49px
    h1
        text-align: center
.benefits
    padding: 90px 100px
    overflow-x: hidden
    .title
        margin: 0 auto 80px
        text-align: center
        h1
            display: inline-block
    .benefits__item
        display: flex
        color: $dark
        align-items: center
        justify-content: space-between
        margin-top: 70px
        &:nth-of-type(1)
            margin-top: 0
        i
            font-size: 150px
        .poliline
            height: 175px
            width: 10px
            background-color: $dark
            margin: 0 60px
            display: block
        .benefit_disc
            width: 70%
            p
                &:nth-of-type(2)
                    margin-top: 16px
        &.right
            .benefit_disc
                text-align: right
.feedback
    text-align: center
    padding: 55px 210px 190px
    .underline
        width: 150px
    .feedback__item
        margin-top: 50px
        img
            width: 150px
            height: 150px
            border-radius: 100px
            margin: 0 auto
        .poliline
            width: 160px
            background-color: $yellow
            height: 13px
            margin: 30px auto 20px
        .name
            text-align: right
            margin-top: 55px
    .slickNext, 
    .slickPrev
        font-size: adpt(100, 30, 1440, 320)
        &::before
            color: $dark
    .slickNext
        right: -125px
    .slickPrev
        left: -125px

#map
    height: 500px
    position: relative
    .info
        width: 470px
        height: 310px
        background-color: $dark
        position: absolute
        top: 0
        left: 50px
        z-index: 2
        padding: 30px 40px 72px
        color: #ffffff
        box-sizing: border-box
        .poligon
            width: 100%
            box-sizing: border-box
            margin-top: 12px
            height: 100%
            background-color: $yellow
            padding: 15px 17px
            .item
                display: grid
                grid-template-columns: 20px 1fr
                color: #000
                grid-column-gap: 20px
                grid-row-gap: 20px
                align-content: center
                i
                    font-size: 26px
                    &.fa-whatsapp
                        font-size: 30px
                p 
                    font-weight: 500
                    font-size: 23px

footer
    background-color: $dark
    color: #ffffff
    padding: 30px 50px
    display: flex
    justify-content: space-between
    align-items: center
    p
        font-size: 14px
    .left-side
        i 
            color: $yellow
            margin-right: 7px
        p
            width: 270px
            font-family: ProximaNova
            font-weight: normal
            font-size: 24px
        .address
            display: flex
            margin-top: 10px
            p 
                font-size: 14px
    .right-side
        display: grid
        grid-template-columns: 20px 1fr
        grid-column-gap: 6px
        grid-row-gap: 5px
        align-content: center
        i
            font-size: 17px
            &.fa-whatsapp
                font-size: 20px
.price-list
    padding: 50px 50px
    .price-table
        padding: 30px 90px 50px
        display: grid
        grid-template-columns: 2.8fr 1.62fr 1.62fr
        text-align: center
        grid-column-gap: 90px
        grid-row-gap: 20px
        .table__title
            background-color: $dark
            border: none
            color: $yellow
        p
            border: 2px solid black
            padding: 15px 10px
            font-weight: 500
            font-size: adpt(24, 13, 1440, 1025)
            &.dual
                padding: adpt(2, 7, 1440, 1025) 20px
        a
            transition: all .2s ease
            &:hover
                box-shadow: inset 10px 10px 4px rgba(0, 0, 0, 0.2), inset -10px -10px 4px rgba(0, 0, 0, 0.2);
                tramsition: all .2s ease
.services-disc
    padding: 30px 50px 100px
    overflow-x: hidden
    h2
        text-align: center
    .underline
        background-color: $yellow
        height: 7px
    img
        width: adpt(460, 360, 1440, 1025)
    .disc-item
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: 50px
        &:nth-of-type(2)
            margin-top: 115px
        p
            margin-left: adpt(100, 60, 1440, 1025)
            color: #000
            line-height: 136%
            font-size: adpt(24, 18, 1440, 1025)
        &.right
            img
                order: 2
            p
                order: 1
                margin-left: 0
                margin-right: adpt(100, 60, 1440, 1025)
                text-align: right
.portfolio
    padding: 30px adpt(50, 30, 1440, 1025)
    overflow-x: hidden
    .container
        display: grid
        grid-template-columns: 3.15fr 9fr
        margin-top: 60px
        grid-column-gap: adpt(112, 50, 1440, 1025)
.filter
    font-family: ProximaNova
    font-weight: normal
    border-right: 6px solid $yellow
    padding: 0 50px 0 16px
    display: block
    li
        font-family: ProximaNova
        font-size: adpt(24, 20, 1440, 1025)
        color: $dark
        position: relative
        overflow: hidden
        display: inline-block
        &.active
            border: 4px solid $yellow
            margin: 5px 0
            &::before,
            &::after
                background: transparent
            a
                &::before,
                &::after
                    background: transparent
        &::before,
        &::after
            content: ''
            position: absolute                
            transition: .5s ease
            right: 0
            bottom: 0
            background: $yellow
        &::before
            width: 100%
            height: 4px
            transform: translateX(-100%)
        &::after
            width: 4px
            height: 100%
            transform: translateY(100%)
        &:hover
            &::before,
            &::after
                transform: translate(0, 0)
        &:hover
            a
                &::before,
                &::after
                    transform: translate(0, 0)    
        a
            display: block
            padding: 10px
            &::before,
            &::after
                content: ''
                left: 0
                position: absolute                
                transition: .5s ease
                top: 0
                background: $yellow
            &::before
                width: 100%
                height: 4px
                transform: translateX(100%)
            &::after
                width: 4px
                height: 100%
                transform: translateY(-100%)

.portfolio-items
    display: grid
    padding-top: 20px
    grid-template-columns: repeat(3, adpt(250, 200, 1440, 1025))
    grid-column-gap: adpt(40, 20, 1440, 1025)
    grid-row-gap: adpt(40, 20, 1440, 1025)
    .test
        width: adpt(250, 200, 1440, 1025)
        height: adpt(250, 200, 1440, 1025)
        background-color: #c4c4c4

#toTop
    padding: 16px 20px
    background-color: black
    text-align: center
    border-radius: 4px
    position: fixed
    bottom: adpt(30, 10, 1440, 320)
    right: adpt(30, 10, 1440, 320)
    transition: all .3s ease
    cursor: pointer
    opacity: 0
    display: inline-block
    &.show
        opacity: .7
    i
        color: $yellow
    &:hover
        opacity: 1
    

@import "media768"
@import "media320"
                



