@media screen and ( max-width: 767px )
    p
        font-size: 14px
    h2
        font-size: adpt(48, 37, 767, 320)
    .content
        padding-top: 40px
    header
        position: fixed
        top: 0
        width: 100%
        z-index: 2
        .head
            padding: 5px 10px 5px 0
            img
                width: 150px
                height: 30px
            .contacts
                display: none
    .ham
        display: block
    nav
        display: none
    .content
        padding-top: 40px
    .carousel
        padding-top: 40px
        .carousel-item
            min-height: 300px
            height: 300px
            background-repeat: no-repeat
            background-size: cover
            .item_disc
                width: 190px
                top: 25%
                .title
                    font-size: 20px
                    line-height: 90.69%
                    font-weight: 500
                p
                    font-size: 11px
                    line-height: 18px
                    margin: 10px 0 10px 
                    font-weight: normal
                    &:nth-of-type(1)
                        margin: 0
                .button
                    font-size: 11px
                    padding: 7px 15px
                    border-radius: 9px
            &.item__1
                .item_disc
                    left: 12%
        .slick-next, 
        .slick-prev
            &::before
                font-size: 20px
        .slick-next
            right: 0px 
        .slick-prev
            left: 0px
        .slick-dots
            bottom: 10px
            li
                margin: 0
                button
                    &::before
                        font-size: 16px
    main 
        padding: 25px 10px
        .main_disc
            width: 100%
            padding: 30px
            p
                line-height: 20px
                &:nth-of-type(2)
                    margin-top: 20px
    .benefits
        padding: 50px 10px
        .title
            margin: 0 auto 80px
            text-align: center
            h1
                display: inline-block
        .benefits__item
            display: flex
            flex-direction: column
            justify-items: flex-start
            margin-top: 70px
            &:nth-of-type(1)
                margin-top: 0
            i
                font-size: 70px
            .poliline
                height: 7px
                width: 100px
                background-color: $dark
                margin: 0
                display: block
                margin: 20px 0 20px 0
            .benefit_disc
                width: 80%
                text-align: center
                p
                    font-size: 14px
                    &:nth-of-type(2)
                        margin-top: 16px
            &.right
                i
                    order: 1
                .poliline
                    order: 2
                .benefit_disc
                    text-align: center
                    order: 3
    #map
        height: 200px
        .info
            display: none
    footer
        display: block
        p
            font-size: 9px
        .left-side
            i 
                color: $yellow
                margin-right: 7px
            p
                font-size: 14px
            .address
                display: flex
                margin-top: 10px
                p 
                    font-size: 9px
        .right-side
            display: grid
            grid-template-columns: 20px 1fr
            grid-column-gap: 6px
            grid-row-gap: 5px
            align-content: center
            margin-top: 10px
            i
                font-size: 17px
                &.fa-whatsapp
                    font-size: 20px
    .price-list
        padding: 50px 10px
        .price-table
            padding: 25px 0px 50px
            text-align: center
            grid-column-gap: adpt(40, 10, 767, 320)
            grid-row-gap: 10px
            p
                border: 2px solid black
                padding: 15px 10px
                font-weight: 500
                font-size: adpt(14, 9, 767, 320)
                height: 100%
                box-sizing: border-box
                align-content: center
                &.dual
                    padding: 15px 10px
    .services-disc
        padding: 30px 20px
        img
            width: adpt(300, 215, 767, 320)
        .disc-item
            margin-top: 50px
            display: block
            text-align: center
            &:nth-of-type(2)
                margin-top: 50px
            p
                margin-left: 0
                margin-top: 20px
                color: #000
                line-height: 136%
                font-size: adpt(18, 12, 767, 320)
            &.right
                p
                    margin-right: 0
                    text-align: center
    .portfolio
        .container
            display: block
            margin-top: 10px
    .filter
        border-right: 0
        border-bottom: 6px solid $yellow
        padding: 0 0 20px 0
        display: flex
        justify-content: space-between
        flex-direction: column
        align-items: center
        flex-wrap: wrap
        li
            margin: 2px 0
            font-size: 14px
            &.active
                margin: 10px 0
    .portfolio-items
        display: grid
        grid-template-columns: repeat(1, 250px)
        grid-column-gap: 40px
        grid-row-gap: 40px
        justify-content: center
        padding-top: 60px
        .p-item
            width: 250px
            height: 250px
    .centrelize
        padding-left: adpt(250, 35, 767, 320) 
    .overlay-modal
        .modal
            padding: 40px 10px 40px  
            .close-modal
                top: 6px
                right: 10px
                width: 20px
                height: 20px
                opacity: .6
                cursor: pointer
                &:hover
                    opacity: 1
                &::before,
                &::after
                    position: absolute
                    left: 15px
                    content: ' '
                    height: 20px
                    width: 2px
                    background-color: #333
                &::before
                    transform: rotate(45deg)
                &::after
                    transform: rotate(-45deg)
            .nav-carousel
                padding-left: 3px
                width: 100%
                .img
                    width: 70px
                    height: adpt(80, 50, 767, 320)
                    margin-right: 10px        
@media screen and (max-width: 600px)
    h1
        font-size: 21px
    .underline
        width: 150px

@media screen and (max-width: 350px)
    p
        font-size: 13px
    main
        .main_disc
            p
                line-height: 20px   