@media screen and (min-width: 1440px)
    .price-list
        .price-table
            p
                font-size: 24px
    .services-disc
        .disc-item
            img
                width: 460px
            p
                font-size: 24px
                margin-left: 100px
            &.right
                margin-right: 100px
    .portfolio
        .container
            grid-template-columns: 3.15fr 9fr
            margin-top: 60px
            grid-column-gap: 112px
    .filter
        font-family: ProximaNova
        font-weight: normal
        border-right: 6px solid $yellow
        padding: 0 50px 0 16px
        display: inline-block
        li
            margin-top: 20px  
            font-family: ProximaNova
            font-size: 24px
            color: $dark
    .portfolio-items
        display: grid
        grid-template-columns: repeat(3, 250px)
        grid-column-gap: 40px
        grid-row-gap: 40px
        .test
            width: 250px
            height: 250px
            background-color: #c4c4c4
@media screen and ( max-width: 1370px)
    main 
        .main_disc
            width: 60%
            max-width: 1000px
@media screen and (max-width: 1100px)
    h1
        font-size: 58px
    main 
        .main_disc
            width: 70%
            max-width: 1000px

@media screen and (max-width: 1024px)
    h1
        font-size: 41px
    p
        font-size: 18px
    header
        .head
            padding: 10px 20px 10px 0
            img
                width: 265px
                height: 48px
            .contacts
                div
                    p
                        font-size: 14px
                    i
                        font-size: 22px
    nav
        ul
            padding: 15px 20px 
            justify-content: space-between
            li
                font-size: 18px
                margin-right: 0
    .carousel
        .carousel-item
            height: 500px
            min-height: 500px
            background-repeat: no-repeat
            background-size: cover
            .item_disc
                width: 390px
                top: 15%
                .title
                    font-size: 64px
                    line-height: 90.69%
                    font-weight: 500
                p
                    font-size: 18px
                    line-height: 25px
                    margin: 30px 0 30px 
                    font-weight: normal
                    &:nth-of-type(1)
                        margin: 0
                .button
                    font-size: 18px
                    padding: 12px 30px
                    border-radius: 9px
            &.item__1
                .item_disc
                    left: 12%
        .slick-next, 
        .slick-prev
            &::before
                font-size: 60px
        .slick-next
            right: 45px
    main 
        padding: 78px 21px
        .main_disc
            width: 100%
            padding: 95px 90px
            p
                line-height: 29px
                &:nth-of-type(2)
                    margin-top: 20px
    .underline
        width: 400px
        margin-top: 10px
    .benefits
        padding: 90px 20px
        .title
            margin: 0 auto 80px
        .benefits__item
            &:nth-of-type(1)
                margin-top: 0
            i
                font-size: 100px
            .poliline
                margin: 0 20px
            .benefit_disc
                width: 100%
                p
                    font-size: 18px
            &.right
                .benefit_disc
                    text-align: right    
    .feedback
        margin: 0
        padding: 0 20px 100px
        .underline
            width: 50px
            margin-top: 10px
        .feedback__item
            margin-top: 30px
            img
                width: 60px
                height: 60px
            .poliline
                width: 120px
                background-color: $yellow
                height: 7px
                margin: 20px auto 20px
            .name
                text-align: right
                margin-top: 10px
        .slick-next, 
        .slick-prev
            &::before
                color: $dark
                font-size: 20px
        .slick-next
            right: 0px
        .slick-prev
            left: 0px
    #map
        height: 300px
        .info
            width: 280px
            height: 210px
            padding: 20px 20px 55px
            .poligon
                padding: 15px 17px
                .item
                    grid-column-gap: 10px
                    grid-row-gap: 10px
                    i
                        font-size: 18px
                        &.fa-whatsapp
                            font-size: 21px
                    p
                        font-size: 12px                
    footer
        padding: 30px 20px
    .price-list
        padding: 50px 50px
        .price-table
            padding: 30px 0px 50px
            text-align: center
            grid-column-gap: 40px
            grid-row-gap: 10px
            p
                border: 2px solid black
                padding: 15px 10px
                font-weight: 500
                font-size: adpt(20, 14, 1024, 768)
                &.dual
                    padding: 5px 20px
    .services-disc
        padding: 30px 20px
        img
            width: adpt(360, 245, 1024, 768)
        .disc-item
            margin-top: 50px
            &:nth-of-type(2)
                margin-top: 65px
            p
                margin-left: adpt(60, 25, 1024, 768)
                color: #000
                line-height: 136%
                font-size: adpt(18, 15, 1024, 768)
            &.right
                p
                    margin-right: adpt(60, 25, 1024, 768)
    .portfolio
        .container
            display: block
            margin-top: 60px
    .filter
        font-family: ProximaNova
        font-weight: normal
        border-right: 0
        border-bottom: 6px solid $yellow
        padding: 0 0 10px 0
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        li
            margin-top: 20px  
            font-family: ProximaNova
            font-size: 24px
            color: $dark
    .portfolio-items
        display: grid
        grid-template-columns: repeat(3, 250px)
        grid-column-gap: 40px
        grid-row-gap: 40px
        justify-content: center
        margin-top: 40px
        .test
            width: 250px
            height: 250px
            background-color: #c4c4c4