@media screen and (max-width: 1024px)
    header
        .head
            padding: 10px 20px 10px 0
            img
                width: 265px
                height: 48px
            .contacts
                div
                    p
                        font-size: 14px
                    i
                        font-size: 22px
    nav
        ul
            padding: 15px 20px 
            justify-content: space-between
            li
                font-size: 18px
                margin-right: 0