@media screen and (max-width: 1024px)
    header
        .head
            padding: 10px 20px 10px 0
            img
                width: 265px
                height: 48px
            .contacts
                div
                    p
                        font-size: 14px
                    i
                        font-size: 22px
    nav
        ul
            padding: 15px 20px 
            justify-content: space-between
            li
                font-size: 18px
                margin-right: 0
    .carousel
        .carousel-item
            height: 500px
            background-repeat: no-repeat
            background-size: cover
            .item_disc
                width: 390px
                top: 15%
                .title
                    font-size: 64px
                    line-height: 90.69%
                    font-weight: 500
                p
                    font-size: 18px
                    line-height: 25px
                    margin: 30px 0 30px 
                    font-weight: normal
                    &:nth-of-type(1)
                        margin: 0
                .button
                    font-size: 18px
                    padding: 12px 30px
                    border-radius: 9px
            &.item__1
                .item_disc
                    left: 12%
        .slick-next, 
        .slick-prev
            &::before
                font-size: 60px
        .slick-next
            right: 45px
    main 
        padding: 78px 21px
        .main_disc
            width: 100%
            padding: 95px 90px
            p
                line-height: 29px
                &:nth-of-type(2)
                    margin-top: 20px
    .benefits
        padding: 90px 20px
        .title
            margin: 0 auto 80px
            h1
                font-size: 48px
        .benefits__item
            margin-top: 70px
            &:nth-of-type(1)
                margin-top: 0
            i
                font-size: 120px
            .benefit_disc
                p
                    font-size: 18px
            &.right
                .benefit_disc
                    text-align: right    